# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Images and media (optional, keep originals only)
images/*.tmp
images/*.bak

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Others
*.sqlite3
*.db

# Ignore video demos
Video demostración.mp4
